<%= render '/common/header' %>
<h1><%= t('external_ips') %></h1>
<% if notice.present? %><div class="alert alert-info"><%= notice %></div><% end %>

<% if @externalips.present? %>
<table class="table table-condensed table-striped table-hover table-bordered" id="tableofrows">
  <thead>
    <tr class="table_tr">
      <th class="text-center" width="15%"><%= t('ip') %></th>
      <th class="text-center"><%= t('hostname') %></th>
      <th class="text-center"><%= t('short_hostname') %></th>
      <th class="text-center"><%= t('notes') %></th>
      <th class="text-center"><%= t('include_in_etc_hosts') %></th>
    </tr>
  </thead>

  <tbody>
    <% @externalips.each do |externalip| %>
      <tr>
        <td class="text-center">
          <%= externalip.address %>
          <div class="buttongroup">
            <%= link_to t('edit'), edit_externalip_path(externalip), class: 'btn btn-link' %>
            <%= link_to t('destroy'), externalip, method: :delete, data: { confirm: t('are_you_sure'), class: 'btn btn-link' } %>
          </div>
        </td>
        <td class="text-center"><%= externalip.hostname %></td>
        <td class="text-center"><%= externalip.short_hostname %></td>
        <td><%= externalip.notes %></td>
        <td class="text-center"><%= get_icon(externalip.include_in_etc_hosts) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-info">
    <%= t('not_found_externalips') %>
  </div>
<% end %>

<br />

<%= link_to t('add_external_ip'), new_externalip_path, class: 'btn btn-primary', title: t('add_external_ip') %>
