<%= render '/common/header' %>
<h1 class="h2"><%= t('environments') %> (<%= @environments.count.to_s %>)</h1>
<% if notice.present? %><div class="alert alert-info"><%= notice %></div><% end %>

<% if @environments.present? %>
  <table class="table table-condensed table-striped table-hover table-bordered" id="tableofrows">
    <thead>
      <tr class="table_tr">
        <th style="text-align: center;"><%= t('name') %></th>
        <th style="text-align: center;"><%= t('description') %></th>
      </tr>
    </thead>

    <tbody>
      <% @environments.each do |environment| %>
        <tr>
          <td style="text-align: center;">
            <%= link_to environment.name, environment %>
            <div class="buttongroup">
              <%= link_to t('edit'), edit_environment_path(environment), class: 'btn btn-link' %>
              <%= link_to t('destroy'), environment, method: :delete, data: { confirm: t('are_you_sure'), class: 'btn btn-link' } %>
            </div>
          </td>
          <td><%= environment.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    <%= t('not_found_environments') %>
  </div>
<% end %>

<br />

<%= link_to t('add_environment'), new_environment_path, class: 'btn btn-primary' %>
